@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
#root{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.Tabs {
    position: relative;
    margin-top: 50px;
    display: inline-block;
}

.Tabs__Tab {
    display: inline-block;
    margin-right: 3em;
    margin-bottom: .5em;
    color: #ccc;
    cursor: pointer;
}

.Tabs__Tab:first-child {
    margin-left: 3em;
}

.Tabs__Tab:hover {
    color: #53adcb;
}

.Tabs__Tab--active:hover{
    color: black;
}

.Tabs__Tab--active {
    color: black;
    cursor: default;
}

.Tabs__Underline {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    margin-top: -1px;
}

.HorizontalLine {
    height: 1px;
    background-color: #ccc;
}
